* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(184, 183, 183);
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
  }
  
  .container {
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    width: calc(100vw-65vw);
    min-width: 500px;
    margin: 40px;
  }
  .form {
    padding: 30px;
  }
  .form-control {
    margin-bottom: 20px;
    position: relative;
  }
  .form-control input {
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
  }
  .form-control input:focus {
    outline: 0;
    border-color: rgb(40, 43, 218);
  }
#errormsg{
    display:none;
    font-size: 16px;
}

  
  .form .btn {
    background-color: rgb(40, 43, 218);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
  }
  .forgotpw{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: none;
  }
  .form .btn1 {
    background-color: rgb(25, 126, 67);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    font-weight: bold;
  }
  
  
  @media (max-width: 998px) {
    .container {
      width: calc(100vw-35vw);
      min-width: 50px;
    }
  }